* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

html {
    background-color: white;
}

body {
    display: grid;
    grid-template-rows: 100px 100% 2em;
}

/*
header {
    position: fixed;
}
*/

.hdcontainer {

    background-color: hsla(0, 0%, 0%, 0.2);
    border: solid 5px white;
    border-radius: 2em;
    display: grid;
    grid-template-columns: 100px 3fr 1fr;
    grid-template-rows: 1fr;
    min-height: 100px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.logo {
    z-index: 1;
    border: none;
    place-self: center;
    margin: 0;
    padding: 0;
}

.logo img {

    max-height: 60px;

}

.restaurantname {
    z-index: 1;
    text-align: left;
    place-self: center;
    font-family: 'Righteous', cursive;
    font-size: 3.5em;

}

nav li {
    margin-right: 10px;
    text-align: right;
    font-family: 'Righteous', cursive;
    font-size: 1.5em;
    list-style: none;
    color: white;
}

.menubtn * {
    list-style: none;
    text-decoration: none;
    display: none;
}

/*
.suggestion {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: .5em 0;
}
*/



.mncontainer {
    padding: 1em;
    background-color: hsla(0, 100%, 39%, 0.5);
    border: none;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.mnelements {

    padding: 10px;
    margin: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

div.mnelements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    background-color: hsla(0, 0%, 0%, 0.2);

}



.startercontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.maincontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.dessertcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.mnelements img {

    max-width: 50%;

    -ms-flex-item-align: center;

    align-self: center;

}


.ftcontainer {
    text-align: center;
    background-color: black;
    color: white;
    font-weight: lighter;


}

.ftcolumncontainer {
    background-color: bisque;
    border: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.ftcolumn {
    background-color: chartreuse;
    border: 1px solid white;
    min-height: 15vh;
    margin: .5rem;
    border-radius: .7rem;

}



.bodybox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
}

.foodcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}
